.HeroSection {
    background: #031243;
    /* url("../../Assets/wordpressbg.png");  */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
  }
  
  body {
    font-family: "Outfit !important";
  }
  
  .HeroSection .checkicon {
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    font-size: 1.2rem;
    vertical-align: baseline;
    font-weight: 500;
  }
  
  .HeroSection .contactbtn {
    background-color: #0504a5;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 45px;
  }
  
  .HeroSection .title {
    font-size: 3.3rem;
    font-family: "Outfit";
    font-weight: 400;
  }
  
  .wpds {
    padding: 64px 0px;
  }
  

  
  @media (min-width: 1200px) {
    .HeroSectionpara {
      font-size: 18px;
      line-height: 28px;
      max-width: 59%;
      max-width: 100%;
      width: 80%!important;
      margin: auto;
      margin-bottom: 20px;
    }
  }
  
  