/* .card:hover {
    transform: scale(1.02);
    transition: 0.3s;
  }
   */

.Trends .cardbody {
  padding: 29px 0px;
}

.Trends .readmore {
  display: flex;
  justify-content: left;
  color: #0504a5;
  font-family: "Outfit";
}

.Trends .bodytitle {
  max-width: 90%;
  color: #031243;
}



.Trends .bodypara {
  max-width: 80%;
  font-size: 15px;
}

 