.hero {
  overflow: hidden;
}

.hero .heroinner {
  padding: 44px 18px;
}

.hero .title{
  font-size: 71px;
  color: #031243;
  
  font-family: "Outfit", sans-serif!important;
}

.hero span{
  color: #0504a5;
}

.herologo{
  width: 24%!important;
  margin-top: 30%!important;
}


.heroimg{
  vertical-align: middle;
    background-size: contain;
    max-width: 116%; 
       height: auto;
    margin-top: 45px;
    top: 70px;
 
}


.hero .para{
    color: #031243;
    max-width: 73%;
    
  font-family: "Outfit", sans-serif!important;
}


.hero .para span{ 
color: #0504A5;
}


.hero .herobtn{
    background-color: #0504A5;
    color: white;
    padding: 7px 24px;
    border-radius: 50px;
    border: none;
}