.itSolutions {
  padding: 60px 0;
  overflow: hidden;
  background: transparent linear-gradient(180deg, #f5f5f5 0%, #d4d4ff 100%) 0%
    0% no-repeat padding-box;
  border-radius: 152px 152px 0px 0px;
  opacity: 1;
}

.itSolutions .title {
  font-size: 51px;
  font-weight: 500;

  line-height: 55px;
  font-family: "Outfit", sans-serif !important;
}

.itSolutions .title span {
  color: #0504a5;
}
.itSolutions .para {
  letter-spacing: 0px;
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
  color: #0504a5;
  font-family: "Outfit", sans-serif !important;
}

.itSolutions .featuredbtn {
  color: white;
  border: none;
  background-color: #0504a5;
  padding: 10px 29px;
  border-radius: 30px;
}

.itSolutions .viewdbtn {
  color: white;

  width: 14%;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: none;
  background-color: #0504a5;
  padding: 10px 29px;
  border-radius: 30px;
}

.itSolutions .projectpara {
  font-size: 18px;
  line-height: 20px;
  color: #031243;
}

.itSolutions .para2 {
  font-weight: 400;
  color: #031243;
  font-weight: 500;
}

.itSolutions .para3 {
  font-weight: 400;
  color: #031243;
  font-weight: 500;
  max-width: 80%;
}



.checkicon {
  font-weight: bold;
  font-size: 1.1rem; 
  color: #0504a5; 
  font-size: 1.2rem; 
  vertical-align: baseline; 
}

.itSolutions .learnmore {
  border: none;
  background-color: #0504a5;
  color: white;
  padding: 10px 16px;
  border-radius: 45px;
}

.itSolutions .para4 {
  font-weight: 500 !important;
  color: #031243 !important;
  vertical-align: baseline !important;
  display: contents;
}





.missionstatementbtn{
  border: none;
  background-color: #0504a5;
  color: white;
  padding: 10px 16px;
  border-radius: 45px;
}


.missionstatementpara{
  font-family: 'Outfit';
  font-size: 18px;
}

.missionstatement{
  font-size: 39px;
  font-weight: 600;
  margin-top: 7px;
  font-family: 'Outfit';
}
.learnmorecall {
  border: none;
  background-color: #0504a5;
  color: white;
  padding: 10px;
  border-radius: 50%;
  display: inline-flex; 
  justify-content: center; 
  align-items: center;
  width: 40px; 
  height: 40px; 
  font-size: 16px; 
  cursor: pointer; 
}
