.uperheader {
  background-color: #0504a5;
  color: white;
  font-size: 0.9rem;
  height: 40px;
  /* justify-content: center; */
  align-items: center;
  display: flex;
}

a {
  text-decoration: none;
  /* justify-content: center;
  align-items: center;
  display: flex; */
  color: #031243;

  font-size: 20px;
}

.uperheader i {
  margin-right: 4px; /* Space between icon and text */
}

.uperheader a {
  /* margin-right: 15px;  */
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

/* nabver */
/* styles.css */

/* Navbar Section */
.navbar-section {
  background-color: #ffffff;
  color: #031243 !important;
}

/* Logo Styling */
.header-icon {
  width: 80% !important;
}

/* Navbar Custom */
.navbar-custom .navbar-toggler {
  border: none;
}

/* .navbar-nav-custom {
  gap: 26px;
} */

.navbar-section .nav-link {
  color: #031243;
  font-size: 16px;
  padding: 8px 20px !important;
  border-radius: 30px;
}
.contact-button {
  background: #0504a5 !important;
  color: #fff !important;
}

/* Dropdown Customization */
.nav-dropdown-custom .dropdown-item {
  color: #031243 !important; /* Dropdown items matching the primary link color */
  font-size: 14px;
}

.nav-dropdown-custom .dropdown-item:hover {
  background-color: #f8f9fa;
  color: #0504a5 !important;
}

/* Contact Button */
.contact-btn {
  margin-left: 1rem !important;
  background-color: #0504a5;
  color: #ffffff;
  border-radius: 45px;
  padding: 8px 21px;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-btn:hover {
  background-color: #031243;
  color: #ffffff;
}

/* Responsive Fixes */
@media (max-width: 768px) {
  .navbar-nav-custom {
    gap: 15px;
    text-align: center;
  }

  .contact-btn {
    width: 100%;
    text-align: center;
  }
}
