.main-footer {
  padding: 100px 0 10px;
  border-top-left-radius: 170px;
  border-top-right-radius: 170px;
}

footer {
  margin-bottom: 0%;
  font-size: 0.9rem;
  background-color: #031243;
  font-family: "Outfit", sans-serif;
}

.main-footer-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main-footer-link {
  font-size: 16px;
  font-weight: 100;
  text-align: left;
  color: #fff;
  text-decoration: none;
}

footer ul li a:hover {
  color: #cccccc;
}

footer .para {
  /* width: 80%; */
  max-width: 332px;
  font-weight: 100;
  display: block;
  font-size: 16px;
  text-decoration: none;
}
.contectpara {
  font-weight: 100;
  display: block;
  font-size: 16px;
  font-weight: 100;
  text-align: left;
  text-decoration: none;
  margin-top: 20.82px;
}
.contectpara a {
  margin-top: 16px;
  color: #fff;
  text-decoration: none;
}

.footer_list_item {
  display: block;
  font-size: 16px;
  font-weight: 100;
  text-align: left;
  text-decoration: none;
}

.footer-section {
  background-color: #031243;
  color: white;
}

.footer-logo {
  width: 100px;
}

.footer-section h5 {
  font-weight: 600;
  margin-bottom: 15px;
}

.footer-section ul li a {
  color: white;
  font-size: 0.9rem;
}

.footer-section ul li a:hover {
  color: #cccccc;
  text-decoration: underline;
}

.main-footer-logo {
  max-width: 200px;
  display: block;
  margin-bottom: 16px;
}
.main-footer-logo img {
  width: 100%;
}

footer .emailsend {
  background-color: #031243;
  border: none;
}

footer .emailsend:focus-visible {
  background-color: #031243;
  border: none !important;
  outline: unset;
}

footer .sendbtn {
  color: white;
}

.footer-bottom {
  background-color: #031243;
  color: white;
  font-size: 0.9rem;
}

.footer-logo {
  width: 60px;
}

.newsletter-signup h5 {
  color: white;
}

.footer-bottom ul li a:hover {
  color: #cccccc;
}

.emailsend {
  background-color: #031243;
  border: none;
  color: white;
  padding: 8px 12px;
  padding-left: 0;
  flex: 1;
}

.sendmailtab {
  display: flex;
  align-items: stretch;
  border-bottom: 1px solid white;
  width: 100%;
  max-width: 320px;
}

.footer-dmca {
  max-width: 130px;
}

.footer-protect-img {
  max-width: 130px;
}

@media (max-width: 991px) {
  .main-footer {
    padding: 40px 0 10px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
}

@media (max-width: 767px) {
  .newsletter-signup {
    width: 100%;
  }
  /* .main-footer {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  } */
}

@media (max-width: 430px) {
  .footer_list_item {
    font-size: 15px;
  }
}
