.FeatureProject {
  padding: 64px 29px;

  background: transparent linear-gradient(180deg, #f5f5f5 0%, #d4d4ff 100%) 0%
    0% no-repeat padding-box;
  border-radius: 152px 152px 0px 0px;
  opacity: 1;
}

.FeatureProject .title {
  font-size: 62px;
  font-weight: 600;
  font-family: "Outfit", sans-serif !important;
}

.FeatureProject .title span {
  color: #0504a5;
}
.FeatureProject .para {
  letter-spacing: 0px;
  width: 40% !important;
  /* max-width: 100%; */
  width: auto !important;
  /* color: #000; */
  /* font-family: Hind; */
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
  padding: 9px 326px;
  text-align: center;
  font-family: "Outfit", sans-serif !important;
}


.featuredbtn{
    color: white;
    border: none;
    background-color: #0504a5;
    padding: 10px 29px;
    border-radius: 30px;
}



.viewdbtn{
    color: white;
    
    width: 14%;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: none;
    background-color: #0504a5;
    padding: 10px 29px;
    border-radius: 30px;
}


.projectpara{
    font-size: 18px;
    line-height: 20px;
    color: #031243;
}