body {
  font-family: "Outfit", sans-serif;
}

button:focus {
  box-shadow: unset;
  outline: unset;
}
.accordion-button:focus {
  /* z-index: 3;
  outline: 0; */
  box-shadow: unset;
  background-color: transparent;
}

.colorBleu {
  color: #0504a5 !important;
}
.hero-img-right img {
  transform: scale(113%) translate(-30px, 70px);
  transform-origin: top right;
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 136px;
  justify-content: space-between;
}

.hero {
  overflow: hidden;
  background-color: #ffffff; /* Background for the section */
}

.heroinner {
  padding: 62px 0;
}

/* Title Styling */
.hero .title {
  font-size: 76px;
  line-height: 1;
  color: #031243;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  /* text-align: center;  */
}

.hero .title span {
  color: #0504a5;
}

/* Paragraph Styling */
.hero .para {
  color: #031243;
  font-family: "Outfit", sans-serif;
  font-size: 17px;
  line-height: 1.3;
}

.hero .para span {
  color: #0504a5;
}

/* Button Styling */
.hero .herobtn {
  background-color: #0504a5;
  color: white;
  padding: 12px 28px;
  font-size: 16px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
}

.hero .herobtn:hover {
  background-color: #031243;
}

/* Google Review Styling */
.hero .google-review {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  /* justify-content: center; */
}

.google-logo {
  width: 120px;
}

.review-text {
  font-family: "Outfit", sans-serif !important;
  font-size: 18px;
  color: #031243;
}

/* Hero Image Styling */
.heroimg {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Responsive Adjustments */

.featuretitle span {
  color: #0504a5;
  font-size: 3.32rem;
  font-weight: 600;
  font-family: "Outfit", sans-serif !important;
}

.viewbtn {
  color: white;
  border: none;
  background-color: #0504a5;
  padding: 10px 26px;
  border-radius: 30px;
  font-size: 14px; /* Adjusted for responsiveness */
}

.homeFrequentQuestions {
  background: transparent linear-gradient(0deg, #f5f5f5 0%, #d4d4ff 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 0px 0px 80px 80px;
  opacity: 1;
}

.faqs-sec {
  background: linear-gradient(0deg, #f5f5f5 0%, #d4d4ff 100%);
  padding: 60px 0;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}
.sec-head h2 {
  font-size: 42px;
  line-height: 1;
  color: #031243;
}

.sec-head-tag {
  font-size: 17px;
  font-weight: 500;
}

.faqs-tabs-btn {
  color: #031243;
  background: transparent;
  border: unset;
  font-size: 16px;
}
.faqs-sec .accordion-button {
  color: #031243;
  background-color: transparent;
  box-shadow: unset;
  padding-left: 0;
  font-size: 16px;
}
.faqs-sec .accordion-button:not(.collapsed) {
  background: transparent;
  border: unset;
  box-shadow: unset;
  color: #031243;
}
.faqs-sec .accordion-body {
  color: #707070;
  padding-left: 0;
  padding-top: 0;
  font-style: 15px;
}
.faqs-sec .accordion-item {
  background: transparent;
  border: unset;
  border-bottom: 1px solid #707070;
  border-radius: unset !important;
}

.accordion-button::after {
  content: "";
  background-image: url("Assets/plus-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 1rem;
  height: 1rem;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("Assets/minus-icon.png");
  transform: rotate(0deg);
}

@media (max-width: 1399px) {
  .hero .title {
    font-size: 70px;
  }
}

@media (max-width: 1199px) {
  .hero .title {
    font-size: 58px;
  }
  .hero-content {
    gap: 25px;
  }
  .sec-head h2 {
    font-size: 41px;
  }
}
@media (max-width: 991px) {
  .navbar-section .navbar-nav {
    background-color: #0504a5;
    padding: 16px 0;
  }
  .navbar-section .nav-link {
    color: #fff !important;
  }
  .hero-img-right img {
    transform: scale(1) translate(0px, 00px);
    transform-origin: center;
  }
  .heroinner .row {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .google-review {
    justify-content: center;
  }
  .hero-content {
    gap: 0px;
  }
  .faqs-tabs-btns {
    margin: 16px 0 0;
  }
}

@media (max-width: 767px) {
  .heroinner {
    padding: 31px 0;
  }
}

@media (max-width: 480px) {
  .hero .title {
    font-size: 44px;
  }
  .sec-head h2 {
    font-size: 35px;
  }
}

@media (max-width: 430px) {
  .sec-head h2 {
      font-size: 30px;
  }
}
